{# Title: Blog Homepage #}
<h1>Blog Homepage</h1>
<h2>How to Edit</h2>
<p><a href="/admin/globals/blog">Here is the link</a> you can edit the blog homepage header and description</p>
<img src="{{ resourceUrl("help/images/blog homepage header and description.png") }}" alt="blog homepage header and description">
<h2>Blog Homepage Live</h2>
<img src="{{ resourceUrl("help/images/blog homepage.png") }}" alt="blog homepage">