{# Title: Blog Categories #}
<h1>Blog Categories</h1>
<h2>How to Edit</h2>
<p><a href="/admin/categories/instaBlogCategories">Here is the link</a> you can edit the blog categories</p>
<p>To add a new category, please follow the tutorial below</p>
<img src="{{ resourceUrl("help/images/add a blog category.gif") }}" alt="add a category">