{# Title: Blog #}
<h1>Blog</h1>
<h2>Blog Homepage</h2>
<p><a href="/admin/help/02-blog/01-blog-homepage">Click here for more</a></p>
<h2>Blog Categories</h2>
<p><a href="/admin/help/02-blog/02-categories">Click here for more</a></p>
<h2>Blog Entries</h2>
<p><a href="/admin/help/02-blog/03-blog-entries">Click here for more</a></p>