<h1>Welcome to Craft Help!</h1>
<p>Craft Help contains reference information specific to the way Craft was configured for <em>this particular site</em>. If you’re looking for information about Craft in general, please <a href="http://buildwithcraft.com/docs/sections-and-entries" target="_blank">read the offical Craft documentation</a>.</p>