{# Title: The Author #}
<h1>The Author</h1>
<h2>How to Edit</h2>
<p><a href="/admin/entries/homepage/2-homepage">Here is the link</a> you can edit the section and click the <b>The Author</b> tab.</p>
<img src="{{ resourceUrl("help/images/the author.png") }}" alt="the author tab">
<h2>Corresponding page section</h2>
<img src="{{ resourceUrl("help/images/the author home.png") }}" alt="the author section">