{# Title: Homepage #}
<h1>Homepage</h1>
<p><a href="/admin/entries/homepage/2-homepage">Here is the link</a> you can edit your homepage</p>
<img src="{{ resourceUrl("help/images/edit homepage.gif") }}" alt="edit homepage">

<h2>The Book</h2>
<p><a href="/admin/help/01-homepage/01-the-book">Click here for more</a></p>

<h2>The Author</h2>
<p><a href="/admin/help/01-homepage/02-the-book">Click here for more</a></p>

<h2>Events</h2>
<p><a href="/admin/help/01-homepage/03-events">Click here for more</a></p>

<h2>Banner</h2>
<p><a href="/admin/help/01-homepage/04-banner">Click here for more</a></p>

<h2>Connect</h2>
<p><a href="/admin/help/01-homepage/05-connect">Click here for more</a></p>

<h2>Share</h2>
<p><a href="/admin/help/01-homepage/06-share">Click here for more</a></p>

<h2>Footer</h2>
<p><a href="/admin/help/01-homepage/07-footer">Click here for more</a></p>