{# Title: The Book #}
<h1>The Book</h1>

<h2>How to Edit</h2>
<p><a href="/admin/entries/homepage/2-homepage">Here is the link</a> you can edit the section and click the <b>The book</b> tab.</p>
<img src="{{ resourceUrl("help/images/the_book.png") }}" alt="the book tab">
<p>The link for <b>BUY THE BOOK</b> is referencing from Book Link set in <a href="/admin/globals/siteInfo">Global Sife Info</a>.</p>
<figure>
  <img src="{{ resourceUrl("help/images/site_info.png") }}" alt="site info">
  <figcaption>Book Link in Site Info</figcaption>
</figure>

<h2>Corresponding page section</h2>
<img src="{{ resourceUrl("help/images/the_book_home.png") }}" alt="the book section">