{# Title: Conncet #}
<h1>Conncet</h1>

<h2>How to Edit</h2>
<p><a href="/admin/entries/homepage/2-homepage">Here is the link</a> you can edit the section and click the <b>Connect</b> tab.</p>
<img src="{{ resourceUrl("help/images/connect.png") }}" alt="connect tab">
<p>The form submissions will be sent to your email. You can also check <a href="/admin/formbuilder/entries">formBuilder entries</a></p>
<img src="{{ resourceUrl("help/images/form_submissions.png") }}" alt="form submissions">
<p>To change the email you want to receive the submissions, you can change the <a href="/admin/settings/email">system email address.</a></p>

<h2>Corresponding page section</h2>
<img src="{{ resourceUrl("help/images/connect_home.png") }}" alt="connect section">