{# Title: Share #}
<h1>Share</h1>

<h2>How to Edit</h2>
<p><a href="/admin/entries/homepage/2-homepage">Here is the link</a> you can edit the section title and click the <b>Share</b> tab</p>

<img src="{{ resourceUrl("help/images/share.png") }}" alt="share tab">
<h2>Corresponding page section</h2>
<img src="{{ resourceUrl("help/images/share_home.png") }}" alt="share section">