{# Title: Footer #}
<h1>Footer</h1>
<h2>How to Edit</h2>
<p>The link for <b>Facebook</b> and <b>Twitter</b> are referencing from links set in <a href="/admin/globals/siteInfo">Global Sife Info</a>.</p>
<figure>
  <img src="{{ resourceUrl("help/images/site info.png") }}" alt="site info">
  <figcaption>Facebook and Twitter link in Site Info</figcaption>
</figure>
<h2>Corresponding page section</h2>
<img src="{{ resourceUrl("help/images/footer home.png") }}" alt="footer section">