{# Title: Assets Management #}
<h2>Upload an Image</h2>
<p>You can upload an image in <a href="/admin/assets">Assets</a></p>
<img src="{{ resourceUrl("help/images/upload_an_image.gif") }}" alt="upload an image">
<p>You can also upload an image when you need to add it in any entry</p>
<img src="{{ resourceUrl("help/images/upload_an_image_2.gif") }}" alt="upload an image 2">

<h2>Delete an Image</h2>
<img src="{{ resourceUrl("help/images/delete_an_image.gif") }}" alt="delete an image">