.not-found {
  background: $white;
  color: #333;
  text-align: center;
  #site-header {
    background: $white;
  }
  h1 {
    margin-bottom: rem(50);
  }
  section {
    padding-top: rem(60);
    p {
      margin-bottom: rem(100);
    }
  }
  .btn {
    display: inline-block;
    &:first-child {
      margin-right: rem(20);
    }
  }
  .btn-container {
    margin: 0 auto;
  }
}
