footer {
  background: white;
  overflow: hidden;
  padding: 0;
  width: 100%;
  padding: rem(15) rem(20);
  .col.footer-left {
    color: $gray-dark;
    font-size: rem(12);
    text-align: left;
  }
  .col.footer-right {
    text-align: right;
    [class^='icon-'] {
      font-size: rem(14);
    }
  }
  @include mobile-only {
    .col.footer-left {
      font-size: rem(10);
    }
    .col.footer-right [class^='icon-'] {
      max-width: 50%;
      padding: rem(13) rem(10);
    }
  }
}
