#site-header {
  background: rgba($green,0.8);
  color: $font-green-light;
  font-size: rem(14);
  font-weight: 700;
  height: rem(85);
  overflow: none;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 5;
  @include transition(all .3s ease);
  .wrap {
    padding: rem(20) $padding-gap;
    @include transition(all .3s ease);
  }
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    max-width: 270px;
    @include mobile-only {
      max-width: 240px;
    }
  }
  #site-nav {
    padding: rem(10) 0;
    img {
      max-width: 100%;
    }
    ul {
      text-align: right;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all .3s ease);
    &:hover,
    &.active {
      color: $font-green;
    }
  }
  .hamburger {
    display: block;
    vertical-align: middle;
    @include transition(all .3s ease);
    &:after {
      border-radius: 5px;
      content: '';
      cursor: pointer;
      display: inline-block;
      height: rem(30);
      margin-left: rem(10);
      vertical-align: middle;
      width: rem(30);
      @include transition(all .3s ease);
      @include background(linear-gradient(to bottom,
      transparent 0%, transparent 14%,
      $font-green 15%, $font-green 24%,
      transparent 25%, transparent 41%,
      $font-green 42%, $font-green 51%,
      transparent 52%, transparent 69%,
      $font-green 70%, $font-green 79%,
      transparent 80%, transparent 100%),
      linear-gradient(transparent, transparent));
    }
    &:hover {
      color: $font-green-light;
      &:after {
        content: '';
        @include background(linear-gradient(to bottom,
        transparent 0%, transparent 14%,
        $font-green-light 15%, $font-green-light 24%,
        transparent 25%, transparent 41%,
        $font-green-light 42%, $font-green-light 51%,
        transparent 52%, transparent 69%,
        $font-green-light 70%, $font-green-light 79%,
        transparent 80%, transparent 100%),
        linear-gradient(transparent, transparent));
      }
    }
  }
  li {
    display: inline-block;
    margin-right: rem(40);
    @include transition(all .3s ease);
  }
  &.short {
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    height: rem(50);
    .wrap {
      padding-bottom: rem(3);
      padding-top: rem(3);
    }
  }
}
@include mobile-only {
  #site-header {
    background: $white;
    height: rem(70);
    text-align: right;
    width: 100%;
    z-index: 10;
    .wrap {
      padding: rem(20) $padding-mobile-gap;
    }
    &.short {
      .wrap {
        padding: rem(8) $padding-mobile-gap;
      }
    }
    #site-nav {
      background: $white;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      width: 80%;
      @include transition(all .3s 0 ease);
      @include transform(translate(100%,0));
      @include transform(translate3d(100%,0,0));
      li {
        display: block;
        line-height: 0;
        margin: 0 auto;
        text-align: left;
        @include transition(background .3s ease);
        border-bottom: 1px solid $green-dark;
        a {
          display: block;
          padding: rem(30) 20px;
          color: $green-dark;
        }
        &:after {
          color: $font-green;
        }
        &:hover,
        &.active {
          background: $green-dark;
          color: $white;
          a {
            color: $white;
          }
        }
      }
    }
  }
  body.nav-open {
    header#site-header {
      .hamburger {
        width: 0;
        @include transform(translate(-80%,0));
        @include transform(translate3d(-80%,0,0));
        span {
          display: none;
        }
        &:after {
          content: '';
          height: 28px;
          width: 28px;
          @include transform(rotate(-180deg));
          @include background(linear-gradient(-45deg,
          transparent 0%, transparent 45%,
          $font-green 45%, $font-green 53%,
          transparent 53%, transparent 100%),
          linear-gradient(45deg,
          transparent 0%, transparent 45%,
          $font-green 45%, $font-green 53%,
          transparent 53%, transparent 100%));
        }
        &:hover:after {
          @include background(linear-gradient(-45deg,
          transparent 0%, transparent 45%,
          $font-green-light 45%, $font-green-light 53%,
          transparent 53%, transparent 100%),
          linear-gradient(45deg,
          transparent 0%, transparent 45%,
          $font-green-light 45%, $font-green-light 53%,
          transparent 53%, transparent 100%));
        }
      }
      .logo {
        @include transform(translate(-100%,0));
        @include transform(translate3d(-100%,0,0));
      }
      #site-nav {
        box-shadow: 0 2px 3px rgba(0,0,0,.2);
        @include transform(translate(0,0));
        @include transform(translate3d(0,0,0));
      }
    }
    .mobile-body,
    .blog-search {
      @include transform(translate(-80%,0));
      @include transform(translate3d(-80%,0,0));
    }
  }
}
