{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block bodyClass %}not-found{% endblock %}
{% block nav %}
  <nav id="site-nav" role="navigation">
    <ul>
      <a href="/#the-book"><li>The Book</li></a>
      <a href="/#the-author"><li>The Author</li></a>
      <a href="/#connect"><li>Connect</li></a>
      <a href="/blog"><li>Blog</li></a>
    </ul>
  </nav>
{% endblock %}
{% block content %}
<section>
  <div class="wrap">
  	<h1>Uh oh!<br>This page can't be found.</h1>

  	<p>Intrinsicly target B2C solutions without sticky architectures. Continually underwhelm high standards in outsourcing vis-a-vis resource-leveling models.</p>

    <div class="btn-container">
        <a href="/" class="btn mobile-top">Return to Homepage</a>
        <a href="/blog" class="btn">Visit the Blog</a>
    </div>
  </div>  
</section> 
{% endblock %}
