{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	{% block meta %}
	{% endblock %}

	

	<link rel="stylesheet" href="/resources/css/style.css"/>
	<script src="https://use.typekit.net/wuz8jhr.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>

<body class="{% block bodyClass %}home{% endblock %}">
	<div id="container">
		<header id="site-header" class="top-nav-layer" data-height="0" data-0-top="hithg;" data-emit-events>
      <div class="wrap">
        <a href="#" class="hamburger mobile-only"><span>MENU</span></a>
 				{% block nav %}
          <nav id="site-nav" role="navigation">
            <ul>
							<a href="#the-book"><li>The Book</li></a>
							<a href="#the-author"><li>The Author</li></a>
							<a href="#connect"><li>Connect</li></a>
							<a href="/blog"><li>Blog</li></a>
            </ul>
          </nav>
  			{% endblock %}
      </div>
    </header>
    <div class="mobile-body">

  		<main id="content" role="main">
  			{% block breadcrumbs %}{% endblock %}
  			{% block content %}
  				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
  				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
  			{% endblock %}
      </main>

  		<footer id="footer">
        <div class="grid grid-no-gutter">
    			<div class="footer-left col col-3-of-4 col-m-3-of-4 col-s-3-of-4">
            <p>&copy; 2015 Janet Evans. All Rights Reserved.</p>   
          </div>
          <div class="footer-right col col-1-of-4 col-m-1-of-4 col-s-1-of-4">
            {% if siteInfo.facebook %}
              <a target="_blank" class="icon-facebook" href="{{siteInfo.facebook}}"></a>
            {% endif %}
            {% if siteInfo.twitter %}
              <a target="_blank" class="icon-twitter" href="{{siteInfo.twitter}}"></a>
            {% endif %}

          </div>
        </div>
  		</footer>
    </div>
	</div>

	<script src="/resources/js/vendor.js"></script>
	<script src="/resources/js/app.min.js"></script>

</body>
</html>
