/* Z-INDEX */

form {
  label,
  input,
  textarea {
    display: block;
    margin-bottom: rem(20);
    width: 100%;
  }
  label {
    font-size: rem(18);
    font-weight: 500;
    margin-bottom: rem(15);
    &.required:after {
      color: $red;
      content: '*';
      margin-left: rem(3);
    }
  }
  input,
  textarea {
    border: none;
    box-shadow: none;
    color: $gray-dark;
    padding: rem(10);
  }
  p.required {
    font-size: rem(12);
    margin-bottom: rem(20);
    &:before {
      color: $red;
      content: '*';
      margin-right: rem(3);
    }
  }
}

.formbuilder-notification {
  font-weight: 500;
  font-size: rem(18);
}

.formError {
  z-index: 990;
}
.formError .formErrorContent {
  z-index: 991;
}
.formError .formErrorArrow {
  z-index: 996;
}

.ui-dialog .formError {
  z-index: 5000;
}
.ui-dialog .formError .formErrorContent {
  z-index: 5001;
}
.ui-dialog .formError .formErrorArrow {
  z-index: 5006;
}




.inputContainer {
  float: left;
  position: relative;
}

.formError {
  cursor: pointer;
  display: block;
  left: 300px;
  position: absolute;
  text-align: left;
  top: 300px;
}

.formError.inline {
  display: inline-block;
  left: 0;
  position: relative;
  top: 0;
}

.ajaxSubmit {
  background-color: #55ea55;
  border: 1px solid #999;
  display: none;
  padding: 20px;
}

.formError .formErrorContent {
  background-color: #ee0101;
  border: 2px solid #ddd;
  color: #fff;
  font-size: 11px;
  min-width: 120px;
  padding: 4px 10px 4px 10px;
  position: relative;
  width: 100%;
  @include border-radius(6px);
  @include box-shadow(0 0 6px #000);
}

.formError.inline .formErrorContent {
  border: none;
  @include border-radius(0);
  @include box-shadow(none);
}

.greenPopup .formErrorContent {
  background-color: #33be40;
}

.blackPopup .formErrorContent {
  background-color: #393939;
  color: #fff;
}

.formError .formErrorArrow {
  margin: -2px 0 0 13px;
  position: relative;
  width: 15px;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
  margin: 0 0 0 12px;
  top: 2px;
  @include box-shadow(none);
}

.formError .formErrorArrow div {
  background-color: #ee0101;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  display: block;
  font-size: 0;
  font-size: 0;
  height: 1px;
  line-height: 0;
  margin: 0 auto;
  @include box-shadow(0 2px 3px #444);
}

.formError .formErrorArrowBottom div {
  @include box-shadow(none);
}

.greenPopup .formErrorArrow div {
  background-color: #33be40;
}

.blackPopup .formErrorArrow div {
  background-color: #393939;
  color: #fff;
}

.formError .formErrorArrow .line10 {
  border: none;
  width: 15px;
}

.formError .formErrorArrow .line9 {
  border: none;
  width: 13px;
}

.formError .formErrorArrow .line8 {
  width: 11px;
}

.formError .formErrorArrow .line7 {
  width: 9px;
}

.formError .formErrorArrow .line6 {
  width: 7px;
}

.formError .formErrorArrow .line5 {
  width: 5px;
}

.formError .formErrorArrow .line4 {
  width: 3px;
}

.formError .formErrorArrow .line3 {
  border-bottom: 0 solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  width: 1px;
}

.formError .formErrorArrow .line2 {
  background-color: #ddd;
  border: none;
  width: 3px;
}

.formError .formErrorArrow .line1 {
  background-color: #ddd;
  border: none;
  width: 1px;
}
