html,
body {
  font-family: 'proxima-nova',sans-serif;
  font-size: $px-base;
  font-weight: 300;
  line-height: 1.8;
  @include transition(all 0 .5s ease);
  &.lock {
    overflow: hidden;
  }
}

* {
  @include box-sizing(border-box);
}


body {
  opacity: 0;
  &.lock {
    overflow: hidden;
  }
  &.loaded {
    opacity: 1;
    @include transition(all .3s ease);
  }
}
@include scrollbars(.5em, $green-dark, $green);

h1 {
  font-size: rem(60);
  font-weight: 700;
  line-height: rem(78);
  margin-bottom: rem(5);
}
h2 {
  font-size: rem(14);
  font-weight: 700;
  line-height: rem(20);
  margin-bottom: rem(26);
  text-transform: uppercase;
}
h3 {
  font-size: rem(24);
  font-weight: 500;
  line-height: rem(26);
  margin-bottom: rem(40);
}
a {
  color: inherit;
  text-decoration: none;
}
p a,
li a {
  text-decoration: underline;
}
i,
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
b {
  font-weight: 700;
}
.wrap {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 $padding-gap;
}
.left {
  text-align: left;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.white {
  background-color: $white;
}
.green {
  background-color: $green;
}
.orange {
  background-color: $orange;
}
.yellow {
  background-color: $yellow;
}

main {
  margin-top: rem(85);
  min-height: calc(100vh - 85px - 50px);
  @include transition(all .3s ease);
}

.btn {
  background: transparent;
  border: 2px solid $btn-green;
  color: $btn-green;
  display: block;
  font-size: rem(14);
  font-weight: 700;
  max-width: 100%;
  padding: rem(10) rem(20);
  text-align: center;
  text-transform: uppercase;
  width: rem(263);
  z-index: 2;
  @include transition(all .5s ease);
  @include mobile-only {
    margin: 0 auto;
    width: 100%;
    & + .btn,
    &.mobile-top {
      margin-bottom: rem(25);
    }
  }
  &:after {
    background-color: $btn-green-hover;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
    @include transition(all .5s ease);
  }
  &:hover {
    color: $white;
    &:after {
      width: 100%;
    }
  }
  &.white {
    border-color: $white;
    color: $white;
    &:after {
      background-color: $white;
    }
    &:hover {
      color: $orange;
    }
  }
}

.mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
}

.desktop-only {
  @include tablet-mobile {
    display: none !important;
  }
}

.desktop-tablet-only {
  @include mobile-only {
    display: none !important;
  }
}

.desktop-mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
  @include desktop-only {
    display: block !important;
  }
}

.tablet-only {
  @include desktop-only {
    display: none !important;
  }
  @include mobile-only {
    display: none !important;
  }
}

.tablet-mobile-only {
  @include desktop-only {
    display: none !important;
  }
}
