.home {
  color: $font-green;
  background-color: $green;
  .btn-container {
    margin-top: rem(58);
    .btn {
      display: inline-block;
      &:first-child {
        margin-right: rem(25);
      }
    }
  }
  h2 {
    letter-spacing: rem(1.5);
  }
  img {
    display: block;
  }
}
#example {
  width: 100%;
  height: 100vh;
  position: fixed;
  color: $gray-dark;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  font-size: rem(16);
  @include transition(z-index 0s 1.5s ease,opacity 1s .8s ease);
  background: $white;
  text-align: center;
  h2,
  h4 {
    color: $gray-light;
    font-size: rem(14)
  }
  h3 {
    color: darken($gray-dark, 50%);
    font-weight: 500;
    font-size: rem(28);
    margin-bottom: rem(25);
  }
  h4 {
    font-style: italic;
    &:last-of-type {
      margin-bottom: rem(20);
    }
  }
  .wrap {
    padding: rem(40) $padding-gap rem(180);
    max-width: rem(800);
  }
  .close-trigger {
    position: absolute;
    top: rem(30);
    right: rem(50);
    color: $gray-light;
    &:after {
      font-size: rem(20);
      vertical-align: middle;
    }
  }
  &.open {
    opacity: 1;
    z-index: 11;
    overflow-y: scroll;
    @include transition(z-index 0s ease,opacity 1s .8s ease);
  }
  @include mobile-only {
    .close-trigger {
      top: rem(10);
      right: rem(10);
    }
  }
}
#the-book {
  overflow-x: hidden;
  .wrap {
    padding: rem(70) $padding-gap rem(180);
  }
  h1 {
    color: #333;
  }
  @include tablet-only {
    .btn + .btn {
      margin-top: rem(20);
    }
    .btn-container {
      padding-left: rem(40);
    }
  }
  @include mobile-only {
    text-align: center;
    .wrap > .grid {
      padding-top: rem(350);
    }
    .book-right {
      position: absolute;
      top: 0;
      left: 15%;
    }
    .btn-container {
      padding-left: 0 !important;
    }
  }
}
#the-author {
  background: $white;
  color: $gray-dark;
  font-size: rem(18);
  .wrap {
    padding: rem(96) $padding-gap;
  }
  img {
    padding-left: rem(60);
    margin-top: rem(10);
  }
  p {
    margin-bottom: rem(40);
  }
  @include tablet-mobile {
    img {
      padding-left: 0;
      margin-top: rem(50);
    }
  }
  @include mobile-only {
    text-align: center;
    .wrap {
      padding: 0 !important;
    }
    .author-left {
      padding: rem(50) $padding-mobile-gap rem(20);
    }
  }
}
#events {
  color: $green-dark;
  font-size: rem(14);
  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: rem(18);
    font-weight: 700;
  }
  h5 {
    font-size: rem(18);
  }
  .wrap {
    padding: rem(65) $padding-gap;
  }
  .events-container {
    overflow: hidden;
  }
  .events-row {
    opacity: 0;
    width: 100%;
    a {
      @include hoverLine;
    }
    &:not(:first-of-type) {
      @include overlap();
    }
    &.active {
      opacity: 1;
      z-index: 2;
      @include transition(transform .5s ease);
      @include transform(translate3d(0,0,0)); 
    }
    &.from-right:not(.active),
    &.to-right{
      @include transform(translate3d(100%,0,0));
    }
    &.from-left:not(.active),
    &.to-left {
      @include transform(translate3d(-100%,0,0));
    }
  }
  [class^="arrow"]{
    @include transition(all .5s ease);
    opacity: 1;
    font-size: rem(28);
    color: $green-medium;
    &:hover {
      color: $green-dark;
    }
    &.hidden {
      opacity: 0;
    }
  }
  .arrow-left {
    margin-left: rem(20);
  }
  .arrow-right {
    margin-left: rem(15);
  }
  .event-date {
    border-right: solid 2px $yellow-dark;
    color: $green-dark;
    text-align: center;
    font-size: rem(13);
    padding: rem(10) 0;
    text-align: center;
    width: 100%;
    max-width: rem(80);
    font-weight: 500;
  }
  .event-day {
    line-height: 1.2em;
    text-align: center;
    font-size: rem(30);
    letter-spacing: 3px;
    @include mobile-only {
      font-size: rem(20);
    }
  }
  @include tablet-only {
    .event-date {
      display: none;
    }
  }
  @include mobile-only {
    .event:first-child {
      margin-bottom: rem(50);
    }
    .event-date {
      display: block !important;
    }
  }
}
#banner {
  background: $white;
  font-size: rem(15);
  color: $gray-dark;
  .banner-left {
    padding-top: rem(55);
    padding-bottom: rem(64);
  }
  .banner-center {
    padding-top: rem(95);
    padding-bottom: rem(95); 
  }
  .banner-right {
    padding-top: rem(105);
  }
  @include tablet-only {
    .banner-left {

    }
    .banner-center {
      padding-top: rem(60);
      padding-bottom: rem(50);
    }
    .banner-right {
      padding-top: 0;
      padding-bottom: rem(60);
    }
  }
}
#connect {
  font-size: rem(14);
  color: $white;
  .wrap {
    padding: rem(95) $padding-gap;
  }
  .form-container {
    width: 50%;
    margin: 0 auto;
  }
  @include tablet-mobile {
    .form-container {
      width: 100%;
    }
  }
}
#share {
  .wrap {
    padding: rem(38) $padding-gap;
  }
  h2 {
    font-size: rem(14);
    text-align: center;
    line-height: 1;
    margin-bottom: 0;
  }
  [class^="icon-"] {
    margin-right: rem(5);
  }
} 

@include mobile-only {
  .home {
    width: 100%;
    overflow: none;
    section .wrap {
      padding: rem(50) $padding-mobile-gap !important;
    }
  }
}
