@mixin center() {
  left: 50%;
  position: absolute;
  top: 50%;
  @include transform(translate(-50%, -50%));
  @include transform(translate3d(-50%, -50%, 0));
}

@mixin center-x() {
  left: 50%;
  position: absolute;
  @include transform(translate(-50%,0));
  @include transform(translate3d(-50%, 0, 0));
}

@mixin overlap() {
  position: absolute;
  left: 0;
  top: 0;   
}

@mixin center-y() {
  position: absolute;
  top: 50%;
  @include transform(translate(0, -50%));
  @include transform(translate3d(0, -50%, 0));
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin hoverBlue() {
  @include transition(all .3s ease);
  &:hover {
    color: $blue;
    border-bottom: 1px solid $blue;
  }
}

@mixin hoverLine() {
  @include transition(all .3s ease);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//media queries
@mixin mobile-only {
  @media only screen and (max-width : $mobile) {
    @content;
  }
  @media only screen and (max-device-width : $mobile-device) {
    @content;
  }
}

@mixin tablet-only {
  @media only screen and (min-width : $mobile + 1) and (max-width : $tablet) {
    @content;
  }
  @media only screen and (min-device-width : $mobile-device + 1) and (max-device-width : $tablet-device) {
    @content;
  }
}

@mixin tablet-mobile {
  @media only screen and (max-width : $tablet) {
    @content;
  }
  @media only screen and (max-device-width : $tablet-device) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width : $tablet + 1) {
    @content;
  }
  @media only screen and (min-device-width : tablet-device) {
    @content;
  }
}

@mixin desktop-tablet {
  @media only screen and (min-width : $mobile + 1) {
    @content;
  }
  @media only screen and (min-device-width : $mobile-device + 1) {
    @content;
  }
}
