//colors
$white : #FFFFFF;
$black : #000000;
$yellow: #fff6c9;
$yellow-dark: #F0E6B6;
$orange: #FF9666;
$gray: #1a4f44;
$gray-lighter: #eaeaea;
$gray-light: #cccccc;
$gray-dark: #777777;
$blue: #3fa2e0;
$green : #5d8907; 
$green-light: #d0e08c;
$green-dark: #1a2a05;
$green-medium: #499e8d;
$red: #ff0000;


$btn-green: darken($green-dark,5%);
$btn-green-hover: $green-dark;

$font-green: $green-dark;
$font-green-light: rgba($font-green,0.6);

$blue-facebook:#3b5998;
$blue-twitter: #4099ff;

$blog-black: #272f32;
$blog-search-gray: #888888;
$blog-footer-gray: #f8f8f8;

$padding-gap: rem(80);
$padding-mobile-gap: 8%;

$breakpoint-medium: 1024px !default;
$breakpoint-small: 760px !default;

$mobile: $breakpoint-small;
$tablet: $breakpoint-medium;

$mobile-device: $breakpoint-small;
$tablet-device: $breakpoint-medium;

$form-ajax: #55ea55;
$form-error: #ee0101;